body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	text-align:center;			/*居中且宽度固定的版式*/
	background-color:#FFFFFF;
}
img{
border:0px;
} 
a:link{
	color:#565766;
	text-decoration:none;
}
a:visited{
	color:#4F181D;
	text-decoration: none;
}
a:hover{
	color:#AA0000;
	text-decoration:underline;
}
input{
	width:120px;
	height:14px;
	border: 1px solid #C2C2C2;
}
button{
	width:50px;
	height:18px;
	background-color:#F5F5F5;
	border: 1px solid #C2C2C2;
	margin-left:10px;
}
select{
	width:100px;
	height:19px;
}
h1{
	font-size:13px;
	padding-top:5px;
	height:20px;
	text-align:left;
	text-indent:20px;
}
h2{
	font-size:12px;
	padding-top:3px;
}
#header{
	width:950px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:7px;
}
#top{
	height:27px;
	width:950px;
	background-color:#F4F4F5;
	padding-top:9px;
	padding-bottom:3px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #DE2A37;
	border-right-color: #C2C2C2;
	border-left-color: #C2C2C2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C2C2C2;
}
#top i{
	text-align: left;
	height: 30px;
	width: 400px;
	padding-left:10px;
	padding-top:2px;
	float:left;
}
#top em{
	text-align: right;
	height: 30px;
	width: 638px;
	font-style: normal;
}
#top a{
	color:#447243;
	font-style: normal;
}
#logo{
	width:200px;
	height:60px;
	float:left;
	padding-top:10px;
	margin-left:10px;
	margin-bottom:7px;
	clear:both;
}
#banner{
	width:700px;
	height:60px;
	float: left;
	padding-top:10px;
	margin-left:40px;
	margin-bottom:7px;
}
#nav{
	width:950px;
	height:30px;
	clear:both;
	margin-left:0px;
	*margin-left:-80px;
}

#nav ul{
	list-style-type:none;
	width:912px;
	*width:952px;
	height:30px;
	background-image:url(../images/nav.gif);
	background-repeat:repeat-x;
}
#nav li{
	width:95px;
	height:23px;
	float:left;
	padding-top:7px;
}
#nav a{
	color:#FFFFFF;
}
.nav_on{
	background-image:url(../images/nav_on.gif);
	margin-left:-40px;
	*margin-left:0px;

}
#search{
	height:26px;
	width:932px;
	background-color:#F2F2F2;
	margin-top:1px;
	color:#666666;
	text-align:left;
	padding-top:7px;
	padding-left:20px;
}
#search b{
	padding-left:20px;
	padding-right:10px;
}